.wrap {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 600px;
}

.menu {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 20px;
  padding-bottom: 20px;
  list-style-type: none;
  border: 1px solid #cca49e;
}

.menu__item {
  width: 100%;
  border: none;
  padding: 10px;
  font-size: 17px;
  background: transparent;
  text-align: left;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: #a64b00;
  transition: .5s ease-in-out;
}

.menu__item:hover {
  cursor: pointer;
  background-color: #ffeee0;
  transition: .5s ease-in-out;
}

.menu__item:active,
.menu__item:focus {
  outline: none;
}

.logo {
  width: 90%;
  margin: 15px auto;
}

.letter {
  color: #1d7471;
}

.container {
  border: 1px solid #cca49e;
}
