.wrap {
  margin-top: 0;
  padding: 10px;
  width: 470px;
}

.loading,
.title {
  margin: 20px auto;
  text-align: center;
  font-family: 'Comfortaa', cursive;
  font-size: 40px;
  font-weight: 300;
  color: #a63f00;
  text-transform: uppercase;
}

.loading:after {
  content: '.';
  animation: loading 2s ease alternate infinite;
}

@keyframes loading {
  60%  {
    text-shadow: 6px 0 0 currentColor;
  }
  100% {
    text-shadow: 6px 0 0 currentColor, 12px 0 0 currentColor;
  }
}

.letter {
  color: #1d7471;
}

.error__text {
  margin: auto;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 17px;
  color: #a64b00;
}

.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login,
.repo__title {
  margin: 0 auto 20px;
  font-family: 'Comfortaa', cursive;
  font-size: 22px;
  font-weight: 500;
  color: #a63f00;
}

.avatar {
  width: 50%;
  height: 50%;
  margin-bottom: 20px;
  border-radius: 50%;
}

.repo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list {
  display: flex;
  flex-direction: column;
  margin: 0 auto 20px;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 17px;
  color: #a64b00;
}

.repo__item {
  text-align: left;
}

.repo__link {
  text-decoration: none;
}

.repo__link:link {
  color: #a64b00;
  transition: color .5s ease-in-out;
}

.repo__link:visited {
  color: #773c32;
  transition: color .5s ease-in-out;
}

.repo__link:hover {
  color: #ffb273;
  transition: color .5s ease-in-out;
}
