.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.done {
  color: #00675c;
  font-style: italic;
  text-decoration: line-through;
}

.task {
  color: #742c00;
}
